project:
  type: website

website:
  title: "Best Practices for Writing Reproducible Code"
  page-navigation: true
  sidebar:
    tools:
      - icon: github
        menu:
          - text: Source code
            url:  https://github.com/UtrechtUniversity/workshop-computational-reproducibility
          - text: Report an issue
            url:  https://github.com/UtrechtUniversity/workshop-computational-reproducibility/issues
    search: true
    pinned: true
    alignment: center
    style: docked
    collapse-level: 1
    logo: images/uu-logo-en-geenwitruimte.png
    logo-alt: "Logo of Utrecht University"
    contents:
      - section: "Course information"
        contents:
          - href: index.qmd
            text: Home
          - chapters/acknowledgements.qmd
          - chapters/schedule.qmd
      - section: "Preparation"
        href: chapters/preparation.qmd
        contents:    
          - chapters/your-project.qmd
          - chapters/programming-language.qmd
          - chapters/terminal.qmd
          - chapters/git-and-github.qmd
          - chapters/final-test.qmd
      - chapters/introduction.qmd
      - section: "Project Management"
        href: chapters/project-management.qmd 
        contents:
          - href: chapters/project-setup.qmd
            text: Project Setup
          - href: chapters/version-control.qmd
            text: Version Control
      - section: "Code Quality"
        href: chapters/code-quality.qmd
        contents:
          - href: chapters/readability.qmd
            text: Readability
          - href: chapters/reusability.qmd
            text: Reusability
      - section: "Documentation"
        href: chapters/documentation.qmd
        contents:
          - href: chapters/comments-and-docstrings.qmd 
            text: Comments and Docstrings
          - href: chapters/readme-files.qmd  
            text: README files
      - section: "Reproducibility"
        href: chapters/reproducibility.qmd
        contents:
            - href: chapters/dependency-management.qmd
              text: Dependency Management
      - section: "Publishing"
        href: chapters/publishing.qmd
        contents:
          - href: chapters/licensing.qmd
            text: Licensing
          - href: chapters/archiving-and-publishing.qmd
            text: Archiving & Publishing
      - chapters/reproducibility-check.qmd
      - section: "Advanced material"
        contents:
          - href: chapters/git-advanced-branches.qmd
      - chapters/references.qmd

        

bibliography: 
- references.bib 

format:
  html:
    theme: 
      light: [cosmo, styles/theme-light.scss]
      dark: [cosmo, styles/theme-dark.scss]
    # css: styles.css
